body{
    background-color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.section-1 .bg-image{
    margin-top: 0;
    width: 100%;
    max-width: none;
    height: 100%;
}

.section-1{
    background-image: url("hero-background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    height: 700px;
    
}

.header{
    display: flex;
    height: 80px;
    max-width: 1920px;
    justify-content: space-between;
}

.logo{
    height: 80px;
    width: auto;
    margin-top: -5%;
    padding-left: 10px;
}

.sign-in button{
    background-color: red;
    color: white;
    padding: 7px 20px 7px 20px;
    border: none;
    margin-right: 30px;
    margin-top: 15px;
    font-weight: 500;
    border-radius: 3px;
    font-size: 16px;
}

.welcome{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.welcome-text{
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
}

.timeline-text{
    color: #8c8c8c;
    font-size: 20px;
}

.column{
    float: left;
    width: 33.33%;
    font-size: 20px;
}

.green{
    color: #00d65f;
    font-weight: bold;
}

.row{
    padding-bottom: 30px;
}

.timeline-bar{
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #00d65f), color-stop(50%, #308234), color-stop(50%, #3f3f3f), color-stop(85%, #3f3f3f), to(rgba(63, 63, 63, 0)));
    width: 80%;
    height: 30px;
    margin-left: 74px;
    border-radius: 15px;
}

.timeline{
    align-items: center;

}